.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #35424a;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}


.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nombre-sitio {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.cabecera button {
  background-color: #ffffff;
  color: #35424a;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.cabecera button:hover {
  background-color: #ddd;
}

.boton-activo {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.botones > * {
  margin-left: 10px;
}