* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f4f7;
    height: 100%;
}


h1 {
    text-align: center;
    margin-top: 0;
    color: #2c3e50;
}

.contenedor {
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #34495e;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.opcion {
    display: block;
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #f9f9f9;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.resultado {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    color: #2c3e50;
}

.oculto {
    display: none;
}


.boton-central {
    display: block;
    margin: 20px auto;
    /* Esto lo centra horizontalmente */
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.volver-fijo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.volver-fijo a {
    text-decoration: none;
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.volver-fijo a:hover {
    background-color: #d0d7dc;
}

.botones-extra {
    text-align: center;
    margin-top: 30px;
}

.botones-finales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.botones-finales button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.botones-finales a {
  background-color: #95a5a6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.botones-finales button:hover {
  background-color: #27ae60;
}

.botones-finales a:hover {
  background-color: #7f8c8d;
}
